<!DOCTYPE html>
<html lang="en">

<head>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>Bruin Buzz</title>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
	<link rel="stylesheet" href="/style.css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="/script.js"></script>

	<link rel="icon" href="/resources/bear.png" type="image/x-icon" />
</head>
<body>
	<div class="container">
		<div class="row header">
			<h1><img src="/resources/bear.png" class="logo"/>Bruin Buzz</h1>
			<a href="https://docs.google.com/spreadsheets/d/1FuQ4w6o9ugrybdJEAWbyChBrxhhMFRZSv-ecaDvzeso/edit#gid=0" target="_blank">For bored Bruins who need something to do</a>
		</div>
		<div class="row photo-row">
			<!-- TODO: repeat images from server -->
			{{#each images}}
				<div class="col-2">
					<div class="image" style ="background-image: url({{this.source}})"></div>
				</div>
			{{/each}}
		</div>
		<div class="row info-pane" style="display: none">
			<div class="preview-image col-md-4 col-sm-12"></div>
			<div class="preview-text col-md-8 col-sm-12">
				<h1>This is an image of a cat</h1>
				<p>Is this your favorite cat?</p>
			</div>
		</div>
	</div>
</body>
</html>